.font-family {

    font-family: "Roboto";
}
.h1{  
    /* Header 1 */
    font-family: "Roboto";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.071em; /* 107.143% */
    letter-spacing: 1.12px;
}
.h2{ 
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    
    /* Header 2 */
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.111em; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.h3{
     /* Header 3 */
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.200em; /* 120% */
    letter-spacing: 0.4px;
}

.header-form{
    flex-direction: row;
    display: flex;
    width: 1440px;
    height: 72px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
}
.header-text{
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.500em; /* 150% */
    letter-spacing: 0.32px;
}
.web-text-lf{
    margin: left 156px; top: 25.5px; bottom: 25.5px;
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.167em; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.web-text-rt{
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.167em; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.nav-text{
    margin-left: 76px;
    margin-right:332px;
    margin-top: 24px;
    margin-bottom: 24px;
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
    list-style: none;
}
.nav-text-br{
    color: var(--NAVY-BLUE, #2E2F42);
    /* Body Medium */
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.500em; /* 150% */
    letter-spacing: 0.32px;
    display: inline-flex;
    flex-direction: row;
}
.nav-contact{
    margin-top: 24px;
    margin-bottom: 24px;
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
    color: var(--SLATE, #434455);
    /* Body */
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.500em; /* 150% */
    letter-spacing: 0.32px;
}
.nav-contact a:hover{
    color:brown;
}
.main-size{
    text-decoration: none;
    width: 1440px;
    height: 2208px;
    font-family: "Roboto";
    color: "default";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.500em; /* 150% */
    letter-spacing: 0.32px;
}
.button-form{
  
    padding-left: 427px;
    margin-top: 96px;
    margin-bottom: 72px;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px none var(--CORNFLOWER, #E7E9FC);
    background: var(--CLOUD, #FFFFFF);
    gap: 24px;
}
.button-one{
    
    display: flex;
    padding: 12px 24px;
    align-items: flex-start;
    border-radius: 4px;
    background: var(--OCEAN, #404BBF);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    color: var(--WHITE, #FFF);
    text-align: center;
    /* Button Text */
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.500em; /* 150% */
    letter-spacing: 0.64px;
}
.button-one:hover{
    cursor: pointer;
    
    color:violet;
}
.button-one:focus{
    color:violet;
}

 
.buttons{
    color: var(--IRIS, #4D5AE5);
    text-align: center;
    /* Button Text */
    
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.500em; /* 150% */
    letter-spacing: 0.64px;
}
.buttons:hover {
    cursor: pointer;
    color: violet;
}
.buttons:focus{
    color:violet;
}
.card-col{
    margin-bottom: 48px;
    padding-left: 156px;
    align-items: center;
    display:flex;
    flex-direction:row;
    justify-content:space-between;  
    gap:48px
}
.card-img{
    width: 360px;
    height: 300px;
    flex-shrink: 0;
}
.web-text{
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.167em; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.posting-box {
    display: flex;
    width: 360px;
    height: 420px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
}
.card-title{
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.200em; /* 120% */
    letter-spacing: 0.4px;
    margin-left: 16px;
}
.card-comment{
    color: var(--SLATE, #434455);
/* Body */
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.500em; /* 150% */
    letter-spacing: 0.32px;
    margin-left: 16px;
    margin-top: 8px;
}
.footer{
  
    width: 1440px;
    height: 312px;
    flex-shrink: 0;
    background: var(--NAVY-BLUE, #2E2F42);
}
.foot-text-lf{
    margin-top: 101.5px;
    margin-bottom: 17.5px;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0; 
    height: 21px;
    width:41px;
    margin-left: 156px;
    color: var(--IRIS, #4D5AE5);
}
.foot-text-rt{
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0; 
    
    width: 71px;
    height: 21px;
    flex-direction: column;
    justify-content: center;
    color: var(--CLOUD, #F4F4FD);
}
.footer-txt-low{
    height: 72px;
    width: 264px;
    margin-left: 156px;
    margin-bottom: 100px;
    margin-right: 1020px ; 
    color: var(--CLOUD, #F4F4FD);

    /* Body */
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.500em; /* 150% */
    letter-spacing: 0.32px;
}
.buttons{
    display: flex;
    padding: 12px 24px;
    flex-direction: row;
    border-radius: 4px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--CLOUD, #F4F4FD);
}
.main-frame{
    width : "1440px"; 
    height: "2592px";
   
}
.main-prop-one{
    background: var(--NAVY-BLUE, #2E2F42);
    width: 1440px;
    height: 600px;
}

.main-prop-txt{
    color: var(--WHITE, #FFF);      
    text-align: center;
    padding-top: 188px;
    padding-left: 472px;
    width: 496px;
    justify-content: center;
    align-items: center;
    
    /* Header 1 */
    font-family: "Roboto";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.071em; /* 107.143% */
    letter-spacing: 1.12px;
}
.main-prop-two{
     
    background: #FFF;

}
.main-prop-three{
    margin-top : 120px;
    background: #FFF;
 
    flex-shrink: 0;
}
.order-btn{
    margin-left: 636px;
    margin-right:635px;
    margin-bottom:188;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    
}
.order-btn:hover {
    cursor: pointer;
    opacity: 0.6
}
.btn-txt{
    color: var(--WHITE, #FFF);
    /* Button Text */
    
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.500em; /* 150% */
    letter-spacing: 0.64px;
}


.box-loc{
    align-items: center;
    padding-top: 120px;
    padding-left:150px;
}
.box-build{
    display: inline-flex;
    width : 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
   
}


.team-duty{
    padding-top :72px;
   
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
} 
.img-form{
    padding-left: 156px;
}
.img-stack{
    width: 360px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
} 
.team-form{
    
    align-items: center;
    justify-content: center;
    align-items: center;
   

    color: var(--NAVY-BLUE, #2E2F42);
     
 
}
.team-stack{
    align-items: center;
    width: 264px;
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }

    .box-title{
        color: var(--NAVY-BLUE, #2E2F42);
       margin-top : 32px;
      
    }
    .box-txt{
        margin-top : 8px;
        color: var(--SLATE, #434455);
    
        /* Body */
     
        
    }

